@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border scroll-smooth scroll-m-8;
  }
  html {
    @apply bg-gradient-to-br from-sky-700/15 to-cyan-700/15;
  }
  body {
    @apply max-w-5xl mx-auto shadow-xl text-foreground flex flex-col bg-gray-50/80 text-gray-900 font-semibold text-base sm:text-lg min-h-dvh border-x border-gray-900/25;
  }
  .wroun {
    @apply rounded-t-2xl rounded-b-md;
  }
  .wrapper {
    @apply w-full 2xl:mx-auto px-4 sm:px-6 lg:px-8;
  }
  .bwrap {
    @apply m-6 mt-0 rounded-b-2xl rounded-t-md;
  }
  .mwrap {
    @apply m-0 mb-0 wroun;
  }
  .title_1 {
    @apply text-3xl font-bold;
  }
  .title_2 {
    @apply text-2xl font-bold;
  }
  .title_3 {
    @apply text-xl font-semibold;
  }
  .p_1 {
    @apply font-medium opacity-90;
  }
  .p_2 {
    @apply font-medium opacity-80;
  }
  .bgd {
    @apply bg-gradient-to-br from-primary to-sky-600;
  }
}
